.table {
  display: block;
  position: relative;
  width: 100%;
}
@media (max-width: 767px) {
  .table {
    display: block;
    position: relative;
    width: 100%;
  }
  .table td,
  .table th {
    height: 35px;
  }
  .table thead {
    float: left;
  }
  .table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }
  .table tbody tr {
    display: inline-block;
  }
}
